.login-form-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 500px;
  border: 1px solid black;
  border-radius: 30px;
  padding: 30px;
}

.login-form h3 {
  text-align: left;
}
